@use "../styles";

.tutorial-wrapper {
  width: 100%;
  margin-top: 64px;
  .tutorial {
    width: 100%;
    margin-bottom: 64px;
    margin-top: 52px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    color: #fff;
    white-space: pre-wrap;
    &__header {
      // обычно в проектах выношу в mixin типографию
      font-family: 'Hardpixel', sans-serif;
      font-weight: 400;
      font-size: 40px;
      line-height: 90%;
      letter-spacing: 0;
      text-align: center;
      vertical-align: middle;
      text-transform: uppercase;
    }
    &__body {
      display: flex;
      flex-direction: column;
      gap: 24px;
      font-family: 'Joystix', serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 110%;
      letter-spacing: 0;
    }
    &__list {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 16px;
      p {
        font-size: 20px;
      }
      li {
        padding-bottom: 8px;
      }
    }
    &__next-page {
      font-family: "Joystix", serif;
      font-weight: 400;
      font-size: 20px;
      line-height: 100%;
      letter-spacing: 0;
      text-align: center;
      vertical-align: middle;

      text-transform: uppercase;
      border: none;

      background-color: transparent;
      //background-image: url("../../../public/images/button.webp");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      p {
        margin: 20px 16px;
      }
    }
  }
}
