<div class="tutorial-wrapper" >
  <div class="tutorial" [@FanClubTutorial]="currentPage$$()">
    @let currentDataPage = pageData[currentPage$$()];
    <div class="tutorial__header">
      <span>{{ currentDataPage.header }}</span>
    </div>
    <div class="tutorial__body">
      <p class="before-text">{{ currentDataPage.beforeImage }}</p>
      <img [src]="currentDataPage.passToImage" alt="main img" class="img">
      <div>
        @if (currentDataPage.list) {
          <div class="tutorial__list">
            <p class="head-list">{{ currentDataPage.list.head }}</p>
            <ul>
              @for (li of currentDataPage.list.body; let i = $index; track i) {
                <li class="list-item">
                  <img src="images/star.webp" alt="star">{{ li }}
                </li>
              }
            </ul>
          </div>
        } @else {
          <p class="after-text">{{ currentDataPage.afterImage }}</p>
        }
      </div>
    </div>
    <div
      (click)="goToNextPage()"
      class="tutorial__next-page"
      [style.background-image]="currentPage$$() !== 2
      ? 'url(images/button.webp)' : 'url(images/button-orange.webp)'"
    >
      <p>
        {{ currentDataPage.button }}
      </p>
    </div>
  </div>
</div>
